<div id="<%= dom_id laboratory_register %>">
  <p>
    <strong>Number laboratory:</strong>
    <%= laboratory_register.number_laboratory %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= laboratory_register.description %>
  </p>

</div>
