<h1>Editing laboratory register</h1>

<%= render "form", laboratory_register: @laboratory_register %>

<br>

<div>
  <%= link_to "Show this laboratory register", @laboratory_register %> |
  <%= link_to "Back to laboratory registers", laboratory_registers_path %>
</div>
